{{!-- Discourse comments --}}

<div class="comments" id="comments">
  <hr>
  <div id='discourse-comments'></div>
</div>
<noscript>
  Please enable JavaScript to view the
  <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a>
</noscript>


{{!-- End of Discourse comments --}}